<h2 style="color:blue" align="center"> Set & Frozenset</h2>

Sets are unordered collections of items where duplicates are not allowed, making them ideal for situations where you need to ensure uniqueness or perform efficient membership tests.

In [1]:
my_set = set([1,2,3,2,3,4])
my_set

{1, 2, 3, 4}

as you can see that above it removed duplicates and it keep the unique elements

In [2]:
my_set[0]

TypeError: 'set' object is not subscriptable

As you can see above that is no order of elements. It is an unordered collection of items

In [3]:
# other way to initialize the set
my_set= {1,2,3,4}
my_set

{1, 2, 3, 4}

### in, add, remove

In [5]:
menu = set(['Dosa','Biryani','Idli'])
menu

{'Biryani', 'Dosa', 'Idli'}

In [7]:
'Dosa' in menu

True

In [8]:
"Samosa" in menu

False

In [11]:
menu.add('pizza')
menu

{'Biryani', 'Dosa', 'Idli', 'pizza'}

In [15]:
menu.remove('Biryani')
menu

{'Dosa', 'Idli', 'pizza'}

### Frozenset

Frozenset is immutable and will not allow update of elements

In [16]:
menu= frozenset(['Dosa','Birayani','Idli'])
menu

frozenset({'Birayani', 'Dosa', 'Idli'})

In [17]:
menu.add('pizza')

AttributeError: 'frozenset' object has no attribute 'add'

### Retrieve unique customers names from transactions records

In [18]:
transactions = [
    {'customer_name': "Mira", "amount": 56, "date": "2024-08-01"},
    {'customer_name': "Mira", "amount": 12.3, "date": "2024-09-05"},
    {'customer_name': "Mohan", "amount": 21, "date": "2024-09-03"},
    {'customer_name': "Mohan", "amount": 36.8, "date": "2024-09-10"},
    {'customer_name': "Lucy", "amount": 66.3, "date": "2024-09-10"}
]

customers=set()
for trans in transactions:
    customers.add(trans['customer_name'])

customers

In [21]:
customers=list(customers)

In [22]:
customers

['Mira', 'Lucy', 'Mohan']

### Intersection, Union, Substraction etc

In [23]:
a = {"Mira", "Mohan", "Lucy", "Ahmed"}
b = {"Chen", "Mohan", "Radha", "Maria"}

#### Find common students

In [24]:
a &b

{'Mohan'}

In [25]:
# same thing can be done using intersection function
a.intersection(b)

{'Mohan'}

#### Find all students

In [27]:
all_students= a|b

In [28]:
all_students

{'Ahmed', 'Chen', 'Lucy', 'Maria', 'Mira', 'Mohan', 'Radha'}

In [29]:
# same thing can be done using union function
a.union(b)

{'Ahmed', 'Chen', 'Lucy', 'Maria', 'Mira', 'Mohan', 'Radha'}

#### Find students who participated in class a but not in b

In [30]:
a-b

{'Ahmed', 'Lucy', 'Mira'}

Regular set allows to add or remove items